<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Quando Sair?</title>
	<link rel='icon' href="https://images.vexels.com/media/users/3/131904/isolated/preview/314ac7a195e5759f2cfadde070a92cc7-reloading-timer-clock-icon-by-vexels.png">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
	<script src="./app.js"></script>
	<script src="./calculadora.js"></script>
</head>
<body ng-app="minhaCalculadoraDeHoras" ng-controller="CalculadoraDeHora">
	<div class="container-body">
		<div class="side-menu">
			<span class="horarioSemanal active" title="Calculador de Horário Semanal"></span>
			<span class="calculadoraDiaria" title="Calculador de Horário de Saída"></span>
			<span class="jira" title="Jira" style="display:none;"></span>
			<span class="timetrex" title="Timetrex" style="display:none;"></span>
		</div>
		<div class="container-box container-horarioSemanal">
			<div class="container">
				<div class="div-box-header" style="">
					<span class="titulo">Calculadora de Horário Semanal</span>
				</div>
				<div class="div-box-header" style="">
					<span class="subtitulo">Informe o regime de trabalhado</span>
					<div style="display: flex;margin: 15px 10px;flex-wrap: wrap;">
						<span style="width: 50%;height: fit-content;text-align: center;" class="subtitulo">Dias da Semana</span>
						<span style="width: 50%;height: fit-content;text-align: center;" class="subtitulo">Horas Semanais</span>
						<select id="qtdDias" style="width: 35%" class="input-box" title="Dias da Semana" ng-model="qtdDias">
							<option value="{{dia}}" ng-repeat="dia in numDiasDaSemana">{{dia}}</option>
						</select>
						<select style="width: 35%" class="input-box" title="Regime de Trabalho" ng-model="regimeDeHoras">
							<option value="{{hora}}" ng-repeat="hora in numRegimeDeTrabalho">{{hora}}</option>
						</select>
					</div>
				</div>
				<span class="subtitulo animate-show-hide" ng-show="qtdDias > 0 && regimeDeHoras > 0">Informe as horas trabalhadas na semana</span>
				<div class="div-box-hora-entrada div animate-show-hide" ng-show="qtdDias > 0 && regimeDeHoras > 0">
					<div ng-repeat="dia in diasDaSemana | limitTo: qtdDias">
						<input id="{{dia}}" class="input-box margin-bottom-15px" type="text" placeholder="{{dia}}" 
							title="Horas trabalhadas na {{dia}}" ng-focus="trocaTipoDoCampo($event)" ng-blur="trocaTipoDoCampo($event)"/><br>
					</div>
					<div class="div-box-button">
						<button class="button-box" ng-click="calculaHorasRestantes()">Calcular</button>
					</div>
					<div class="div-box-footer" style="padding: 0px 0px 10px" ng-show="tempoRestante != ''">
						<h3 class="" style="margin-top: 10px;">Tempo Restante:</h3>
						<h1 class="h1-box">{{tempoRestante}}</h1>
						<button id="copiar-para-calculadora-diaria" ng-click="CopiarTempoRestanteNaCalculadoraDiaria()" title="Copiar para Calculadora Diaria"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-box container-calculadoraDiaria" style="display:none;">
			<div class="container">
				<div class="div-box-header" style="">
					<span class="titulo">Calculadora de Hora de Saída</span>
					<span class="options"></span>
					<div class="menu">
						<li style="outline: 1px solid lightgray;" id="almoco"><span></span>Almoco</li>
						<li id="lanche"><span></span>Lanche</li>
					</div>
				</div>
				<div class="error">
					<span>Informe as horas necessárias</span>
				</div>
				<span class="subtitulo">Informe as horas trabalhadas hoje</span>
				<div class="div-box-hora-entrada div">
					<input id="horasParaTrabalhar" class="input-box required margin-bottom-15px" type="text" 
						placeholder="Horas a trabalhar" title="Horas a trabalhar" ng-focus="trocaTipoDoCampo($event)" ng-blur="trocaTipoDoCampo($event)"/><br>
					<input id="horaDeEntrada" class="input-box required" type="text" 
						placeholder="Hora de Entrada" title="Hora de Entrada" ng-focus="trocaTipoDoCampo($event)" ng-blur="trocaTipoDoCampo($event)"/><br>
				</div>
				<h3 id="almoco">Almoco</h3>
				<h3 id="lanche">Lanche</h3>	
				
				<div class="div-box-button">
					<button id="CalcularHora" class="button-box" ng-click="calcularHora()">Calcular</button>
				</div>
				<div class="div-box-footer" style="padding: 0px 0px 10px">
					<h3 class="resultado" style="margin-top: 10px;">Hora de Saída Prevista:</h3>
					<h1 id="HoraDeSaidaPrevista" class="h1-box resultado">{{tempoPrevistoDeSaida}}</h1>
				</div>
			</div>
		</div>
		<div class="container-box container-jira" style="display:none;">
			<div class="container">
				<div class="div-box-header" style="">
					<span class="titulo">Jira</span>
				</div>
			</div>
		</div>
		<div class="container-box container-timetrex" style="display:none;">
			<div class="container">
				<div class="div-box-header" style="">
					<span class="titulo">Timetrex</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
